html, body{
  margin:0;
  padding:0;
}
.container{
  width:100vw;
  height:100vh;
  display:flex;
}
.sidebar .menu {
    list-style: none;
    padding: 0;
}

.sidebar .menu li {
    margin: 10px 5px;
}

.sidebar a {
  color: #ECE5F0;
}

.sidebar {
  flex:1;
  background: #012622;
  passing:5px;
}

.main {
  passing:5px;

  flex:3;
  background: #ECE5F0;
}
